// BUTTON

$button_text_color: #fff;

$button_normal_border_bottom_color: #519427;
$button_normal_border_top_color: #b9e099;
$button_normal_border_left_color: #90c565;
$button_normal_border_right_color: #64a935;
$button_normal_gradient_top_color: #85c84e;
$button_normal_gradient_bottom_color: #71aa42;

$button_hover_border_bottom_color: #43841c;
$button_hover_border_top_color: #acd38c;
$button_hover_border_left_color: #84bb56;
$button_hover_border_right_color: #529426;
$button_hover_gradient_top_color: #6fb238;
$button_hover_gradient_bottom_color: #5e982f;

$button_press_border_bottom_color: #acd38c;
$button_press_border_top_color: #43831c;
$button_press_border_left_color: #5ea22c;
$button_press_border_right_color: #86b65e;
$button_press_gradient_top_color: #5d972f;
$button_press_gradient_bottom_color: #6eb238;

// MAIN MENU

$main_menu_text_color: #468fc5;
$main_menu_active_text_color: #5a5a59;
$main_menu_active_bg_color: #d5d5d5;